<div class="game-title">
  <img src="../images/background/game.jpg" alt="Game of Kittens" />
</div>
<h1 class="choose-kitten">Choose your ferocious beast</h1>
<div class="character"></div>
<!--attach the player.hbs with the player images to the character div-->
