<div><img src="../images/characters/{{player}}.jpg" alt="" class="hero-player"/></div>
<h1>Villain</h1>
<img id="joffrey" class="pick-villain" src="../images/opponents/joffrey.jpg" alt=""/>
<img id="The-Hound-008" class="pick-villain" src="../images/opponents/The-Hound-008.jpg" alt=""/>
<img id="the-mountain" class="pick-villain" src="../images/opponents/the-mountain.jpg" alt=""/>