<div class="player-container">
  <h1 class="choose-opponent"><strong>You are playing with:</strong></h1>
  <img src="../images/characters/{{player}}.jpg" alt="{{player}}" class="chosen-player"/>
</div>
<h1 class="choose-opponent">Choose your opponent wisely</h1>
<img id="joffrey" class="pick-opponent" src="../images/opponents/joffrey.jpg" alt=""/>
<img id="The-Hound-008" class="pick-opponent" src="../images/opponents/The-Hound-008.jpg" alt=""/>
<img id="the-mountain" class="pick-opponent" src="../images/opponents/the-mountain.jpg" alt=""/>
