<div class="player-container">
  <img src="../images/characters/{{player}}.jpg" alt="{{player}}" class="chosen-player"/>
</div>
<h1>Choose your opponent</h1>
<img id="joffrey" class="pick-opponent" src="../images/opponents/joffrey.jpg" alt=""/>
<img id="The-Hound-008" class="pick-opponent" src="../images/opponents/The-Hound-008.jpg" alt=""/>
<img id="the-mountain" class="pick-opponent" src="../images/opponents/the-mountain.jpg" alt=""/>
