<h1 class="fight-message"><strong>Unleash the beast...</strong><br>Attack!</h1>
<div class="fighters">
    <img src="../images/characters/{{player}}.jpg" alt=""/>
    <img src="../images/opponents/{{opponent}}.jpg" alt=""/>
</div>
<div class="health-status-bars">
  {{!-- <h3 class="health-status">Your health</h3> --}}
  <div class="health-container">
    <div width="100%" class="char-health health"></div>
  </div>

  {{!-- <h3 class="health-status">Opponent health</h3> --}}
  <div class="health-container">
    <div width="100%" class="opp-health health"></div>
  </div>

</div>
<button class="attack">Attack!</button>
