


<div class="fighters">
    <img src="../images/characters/{{player}}.jpg" alt=""/>
    <img src="../images/opponents/{{opponent}}.jpg" alt=""/>
</div>
<div class="health-status-bars">
  <div class="health-container">
    <div width="100%" class="char-health health"></div>
  </div>
  <div class="health-container">
    <div width="100%" class="opp-health health"></div>
  </div>
</div>
<button class="attack">Attack!</button>
