<h1>Play</h1>
<div class="class">
    <img src="../images/characters/{{player}}.jpg" alt=""/>
    <img src="../images/opponents/{{villain}}.jpg" alt=""/>
</div>
<button class="attack">Attack!</button>
