{{!append the following HTML to .application on page load}}

<div class="container">
  <h1 class="winner"><strong>#BEASTMODE!</strong><br>The winner is...</h1>
  <img src="../images/characters/{{player}}.jpg" alt=""/>
  <button class="play-again-btn" name="button">Play again</button>
</div>
