@import url('http://fonts.googleapis.com/css?family=Roboto:400,700');

// Typography
$font: 'Roboto', sans-serif;

// Colors
$red: #a93635;
$light-red: #cd484c;
$teal: #40b194;
$light-teal: #b3e0d4;
$dark-gray:  #3D3D3D;
$medium-gray: #9C9C9C;
$light-gray: #F0F0F0;


.pick-player{
  display: inline-block;
  width: 250px;
}

#grey,
#orange{
  margin: 0 25px 0 0;
}

#white{
  margin: 0 0 0 0;
}

#grey:hover,
#orange:hover,
#white:hover{
  border: 2px solid $teal;
}

.play-again-btn{
  display:none;
}